@import '../../../Ressources/styling/font.scss';
@import '../../../Ressources/styling/colors.scss';

.landscapeMapContainer {
  .map {
    font-family: $svg-font;
    text-shadow: none;
    .title {
      fill: $font-color;
    }
    .details {
      border: 1px solid $svg-border-color;
      border-radius: 10px;
      background-color: white;
    }
    g {
      circle {
        stroke-width: 0.4em;
      }
      .group {
        stroke-width: 0.1em;
        fill-opacity: 0.4;
        transition: fill-opacity 0.2s;
        stroke: $svg-border-color;
        stroke-width: 0em;
        box-shadow: 0px 0px 12px $box-shadow-color;
      }
      polygon {
        stroke-width: 0.2;
        transition: fill-opacity 0.2s;
      }

      .label {
        text {
          fill: $font-color;
          cursor: pointer;
        }
        rect {
          fill: $background-grey;
          fill-opacity: 1;
          stroke-width: 0.1em;
        }
      }

      .item_shortName {
        fill: $svg-shortname-color;
      }
    }

    path {
      fill: none;
      stroke-opacity: 0.8;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  .ReactSVGPanZoom {
    svg {
      g {
        rect {
          fill: transparent;
        }
      }
    }
  }

  @-o-keyframes highlightLabel {
    0% {
      fill: #fff;
    }
    50% {
      fill: #ff4081;
    }
    to {
      fill: #fff;
    }
  }

  @-webkit-keyframes highlightLabel {
    0% {
      fill: #fff;
    }
    50% {
      fill: #ff4081;
    }
    to {
      fill: #fff;
    }
  }

  @keyframes highlightLabel {
    0% {
      fill: #fff;
    }
    50% {
      fill: #ff4081;
    }
    to {
      fill: #fff;
    }
  }

  @-o-keyframes highlightRelation {
    0% {
      stroke: #fff;
    }
    50% {
      stroke: #ff4081;
    }
    to {
      stroke: #fff;
    }
  }

  @-webkit-keyframes highlightRelation {
    0% {
      stroke: #fff;
    }
    50% {
      stroke: #ff4081;
    }
    to {
      stroke: #fff;
    }
  }

  @keyframes highlightRelation {
    0% {
      stroke: #fff;
    }
    50% {
      stroke: #ff4081;
    }
    to {
      stroke: #fff;
    }
  }

  .highlightLabel {
    /*     box-shadow: 0 0 0 2px #FF4081; */
    -webkit-animation: highlightLabel 1s linear;
    -o-animation: highlightLabel 1s linear;
    animation: highlightLabel 1s linear;
    -webkit-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-iteration-count: 2;
  }

  .highlightRelation {
    /*     box-shadow: 0 0 0 2px #FF4081; */
    -webkit-animation: highlightRelation 1s linear;
    -o-animation: highlightRelation 1s linear;
    animation: highlightRelation 1s linear;
    -webkit-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-iteration-count: 2;
  }

  .with-transition {
    z-index: 2;
    svg > g {
      transition: transform 1s ease-out;
    }
  }

  .showHighlight {
    z-index: 2;
  }
}
