.idea
target
docs/build
_static
_templates
/.env
*.iml
src/test/resources/example/*_debug.png
src/test/resources/example/*_debug.json
src/test/resources/example/*_debug.svg
src/main/resources/static/icons/svg/*.svg
/src/main/app/debug.log
/src/test/dump/
/.run/
