spring:
  application:
    name: nivio

  mail:
    host: smtp.gmail.com
    port: 587
    username: <login user to smtp server>
    password: <login password to smtp server>
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true


logging:
  level:
    root: INFO
    de:
      bonndan:
        nivio:
          output: TRACE


server:
  port: ${PORT:8080}

---
spring:
  profiles: test

---
spring:
  profiles: local

server:
  port: 8080