$background-grey: #161618;
$highlight-grey: #222222;
$svg-border-color: #3f51b5;
$svg-shortname-color: #000000;
$font-color: rgba(255, 255, 255, 0.75);
$header-color: rgba(0, 127, 127, 0.682);
$box-shadow-color: rgba(0, 255, 255, 0.5);
$text-shadow-color: rgba(0, 255, 255, 0.95);
$border-color: rgba(127, 255, 255, 0.25);
