@import '../../Ressources/styling/font.scss';
@import '../../Ressources/styling/colors.scss';

$max-width: 66vw;

.slider {
  position: absolute;
  top: 73px;
  overflow: hidden;
  border: solid $border-color;
  max-width: $max-width;
  z-index: 1;
  background-color: $background-grey;
  .close {
    position: absolute;
    z-index: 2;
    right: 5px;
    top: 7px;
    font-size: $normal-font-size;
    color: $font-color;
    background-color: $header-color;
    border: 2px solid $border-color;
    box-shadow: 0px 0px 12px $box-shadow-color;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.slider-enter-active {
  right: -$max-width - 1;
}
.slider-enter-done {
  right: 5px;
  transition: right 1000ms;
}
.slider-exit {
  opacity: 1;
  right: 5px;
}
.slider-exit-active {
  right: 5px;
  opacity: 0;
  transition: opacity 1000ms;
}
.slider-appear-active {
  right: 5px;
}
