@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

.homeContainer {
  .landscapeContainer {
    .MuiTypography-overline {
      border-bottom: 1px solid $border-color;
    }

    .control {
      background-color: $header-color;
      color: $font-color;
      text-transform: uppercase;
      text-shadow: 0 0 10px $text-shadow-color;
      box-shadow: 0px 0px 12px $box-shadow-color;
      border: 1px solid $border-color;
      cursor: pointer;
    }

    .previewItem {
      .preview {
        border: 1px solid $border-color;
        padding: 16px;
      }
    }

    .infoContainer {
      .infoContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 11px;
        .identifier,
        .teams {
          padding-top: 11px;
        }
      }
    }
  }
}
