@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

$dotSize: 50px;

.itemContent {
  padding: 16px;
  position: relative;
  overflow: auto;
  width: 500px;
  max-height: 85vh;
  z-index: 1;
  background-color: $header-color;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .status {
      height: $dotSize;
      width: $dotSize;
      background-color: $info-color;
      border-radius: 50%;
      text-align: center;
      right: 50px;
    }

    .icon {
      max-width: 64px;
      max-height: 64px;
    }

    .title {
      max-width: 316px;
      text-align: center;
      overflow-wrap: anywhere;
      font-size: $large-font-size;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .information,
  .labels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: $small-font-size;
    padding-bottom: 16px;
    border-bottom: 1px solid $border-color;

    .labelContent,
    .item {
      margin-top: 16px;
    }

    .label {
      font-weight: bold;
    }

    .link {
      font-weight: normal;
      color: $font-color;
      text-align: center;
      width: 20%;
      border: 1px solid $border-color;
      border-radius: 25px;
      margin-top: 8px;
      background-color: lighten($background-grey, 10%);
    }
  }

  .linkContent,
  .relationsContent {
    margin-top: 16px;
    width: 100%;
    .linkLabel,
    .relationsLabel {
      font-weight: bold;
      font-size: $normal-font-size;
    }
    .links,
    .relations {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: auto;
      font-size: $small-font-size;
      padding-bottom: 16px;
      border-bottom: 1px solid $border-color;

      .link,
      .relation {
        font-weight: normal;
        color: $font-color;
        text-align: center;
        border: 1px solid $border-color;
        border-radius: 25px;
        margin: 3px;
        padding: 5px 10px;
        background-color: lighten($header-color, 10%);
        cursor: pointer;
      }
    }
  }
}

.itemError {
  margin: 32px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  .errorMessage {
    color: red;
    font-size: $large-font-size;
    text-transform: uppercase;
  }
  .errorIdentifier {
    margin-top: 20px;
    font-size: $normal-font-size;
  }
}
