@import '../../Ressources/styling/colors.scss';
@import '../../Ressources/styling/font.scss';

.appBar {
  background-color: $header-color !important;
  .MuiButton-root {
    color: $font-color;
  }

  .title {
    margin-right: 20px;
  }

  .toolBar {
    min-height: inherit !important;
  }
}
