@import 'src/Resources/styling/colors.scss';
@import 'src/Resources/styling/font.scss';

.manualContainer {
  text-shadow: none;
  padding-bottom: 50px;

  .manualContent {
    margin-top: 43px;
  }

  img {
    max-width: 1500px;
    max-height: 750px;
  }

  .document {
    min-height: 350px;
  }

  .documentwrapper {
    margin-left: 265px;
  }

  .sphinxsidebar {
    width: 230px;
    margin-top: 70px;
    overflow-wrap: break-word;
    position: absolute;
    top: 0px;
    padding: 8px 5px 0 10px;

    ul {
      list-style: none;
      ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style: square;
      }
    }
  }

  h1,
  h2,
  h3 {
    text-transform: uppercase;
    background-color: $header-color;
    box-shadow: 0px 0px 12px $box-shadow-color;
    text-align: center;
  }

  h1 {
    margin: 0;
    margin-bottom: 16px;
  }

  h2,
  h3 {
    margin: 10px 0px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
  }

  pre {
    display: block;
    white-space: pre;
    padding: 7px 20px;
    margin: 15px 0px;
    line-height: 21px;
    overflow: auto;
    overflow-y: hidden;
    background-color: $highlight-grey;
  }

  .headerlink {
    display: none;
  }
}
