@import 'src/Resources/styling/colors.scss';

.manualContainer {
  .highlight {
    background: $highlight-grey;
    .hll {
      background-color: #ffffcc;
    }
    .c {
      color: #8f5902;
      font-style: italic;
    } /* Comment */
    .err {
      color: #a40000;
      border: 1px solid #ef2929;
    } /* Error */
    .g {
      color: $font-color;
    } /* Generic */
    .k {
      color: #004461;
      font-weight: bold;
    } /* Keyword */
    .l {
      color: $font-color;
    } /* Literal */
    .n {
      color: $font-color;
    } /* Name */
    .o {
      color: #ac4e02;
    } /* Operator */
    .x {
      color: $font-color;
    } /* Other */
    .p {
      color: $font-color;
      font-weight: bold;
    } /* Punctuation */
    .ch {
      color: #8f5902;
      font-style: italic;
    } /* Comment.Hashbang */
    .cm {
      color: #8f5902;
      font-style: italic;
    } /* Comment.Multiline */
    .cp {
      color: #8f5902;
    } /* Comment.Preproc */
    .cpf {
      color: #8f5902;
      font-style: italic;
    } /* Comment.PreprocFile */
    .c1 {
      color: #8f5902;
      font-style: italic;
    } /* Comment.Single */
    .cs {
      color: #8f5902;
      font-style: italic;
    } /* Comment.Special */
    .gd {
      color: #a40000;
    } /* Generic.Deleted */
    .ge {
      color: $font-color;
      font-style: italic;
    } /* Generic.Emph */
    .gr {
      color: #ef2929;
    } /* Generic.Error */
    .gh {
      color: #000080;
      font-weight: bold;
    } /* Generic.Heading */
    .gi {
      color: #00a000;
    } /* Generic.Inserted */
    .go {
      color: #888888;
    } /* Generic.Output */
    .gp {
      color: #745334;
    } /* Generic.Prompt */
    .gs {
      color: $font-color;
      font-weight: bold;
    } /* Generic.Strong */
    .gu {
      color: #800080;
      font-weight: bold;
    } /* Generic.Subheading */
    .gt {
      color: #a40000;
      font-weight: bold;
    } /* Generic.Traceback */
    .kc {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Constant */
    .kd {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Declaration */
    .kn {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Namespace */
    .kp {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Pseudo */
    .kr {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Reserved */
    .kt {
      color: #004461;
      font-weight: bold;
    } /* Keyword.Type */
    .ld {
      color: $font-color;
    } /* Literal.Date */
    .m {
      color: #c90303;
    } /* Literal.Number */
    .s {
      color: #4e9a06;
    } /* Literal.String */
    .na {
      color: #c4a000;
    } /* Name.Attribute */
    .nb {
      color: #004461;
    } /* Name.Builtin */
    .nc {
      color: $font-color;
    } /* Name.Class */
    .no {
      color: $font-color;
    } /* Name.Constant */
    .nd {
      color: #888888;
    } /* Name.Decorator */
    .ni {
      color: #ce5c00;
    } /* Name.Entity */
    .ne {
      color: #cc0000;
      font-weight: bold;
    } /* Name.Exception */
    .nf {
      color: $font-color;
    } /* Name.Function */
    .nl {
      color: #f57900;
    } /* Name.Label */
    .nn {
      color: $font-color;
    } /* Name.Namespace */
    .nx {
      color: $font-color;
    } /* Name.Other */
    .py {
      color: $font-color;
    } /* Name.Property */
    .nt {
      color: $font-color;
      font-weight: bold;
    } /* Name.Tag */
    .nv {
      color: $font-color;
    } /* Name.Variable */
    .ow {
      color: #004461;
      font-weight: bold;
    } /* Operator.Word */
    .w {
      color: #f8f8f8;
      text-decoration: underline;
    } /* Text.Whitespace */
    .mb {
      color: #c90303;
    } /* Literal.Number.Bin */
    .mf {
      color: #c90303;
    } /* Literal.Number.Float */
    .mh {
      color: #c90303;
    } /* Literal.Number.Hex */
    .mi {
      color: #c90303;
    } /* Literal.Number.Integer */
    .mo {
      color: #c90303;
    } /* Literal.Number.Oct */
    .sa {
      color: #4e9a06;
    } /* Literal.String.Affix */
    .sb {
      color: #4e9a06;
    } /* Literal.String.Backtick */
    .sc {
      color: #4e9a06;
    } /* Literal.String.Char */
    .dl {
      color: #4e9a06;
    } /* Literal.String.Delimiter */
    .sd {
      color: #8f5902;
      font-style: italic;
    } /* Literal.String.Doc */
    .s2 {
      color: #4e9a06;
    } /* Literal.String.Double */
    .se {
      color: #4e9a06;
    } /* Literal.String.Escape */
    .sh {
      color: #4e9a06;
    } /* Literal.String.Heredoc */
    .si {
      color: #4e9a06;
    } /* Literal.String.Interpol */
    .sx {
      color: #4e9a06;
    } /* Literal.String.Other */
    .sr {
      color: #4e9a06;
    } /* Literal.String.Regex */
    .s1 {
      color: #4e9a06;
    } /* Literal.String.Single */
    .ss {
      color: #4e9a06;
    } /* Literal.String.Symbol */
    .bp {
      color: #3465a4;
    } /* Name.Builtin.Pseudo */
    .fm {
      color: $font-color;
    } /* Name.Function.Magic */
    .vc {
      color: $font-color;
    } /* Name.Variable.Class */
    .vg {
      color: $font-color;
    } /* Name.Variable.Global */
    .vi {
      color: $font-color;
    } /* Name.Variable.Instance */
    .vm {
      color: $font-color;
    } /* Name.Variable.Magic */
    .il {
      color: #c90303;
    } /* Literal.Number.Integer.Long */
  }
}
