@import '../../../../Ressources/styling/colors.scss';
@import '../../../../Ressources/styling/font.scss';

$dotSize: 50px;

.mapRelationContent {
  margin: 16px;
  position: relative;
  overflow: auto;
  width: 500px;
  max-height: 85vh;
  z-index: 1;
  background-color: $background-grey;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .relationsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    font-size: $small-font-size;
    padding-bottom: 16px;
    border-bottom: 1px solid $border-color;

    .relation {
      font-weight: normal;
      color: $font-color;
      text-align: center;
      border: 1px solid $border-color;
      border-radius: 25px;
      margin: 3px;
      padding: 5px 10px;
      background-color: lighten($background-grey, 10%);
      cursor: pointer;
    }
  }
}
