@import '../../../../Ressources/styling/colors.scss';
@import '../../../../Ressources/styling/font.scss';

$dotSize: 50px;

.mapRelation {
  position: relative;
  overflow: auto;
  width: 500px;
  max-height: 85vh;
  z-index: 1;
  background-color: $background-grey;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    position: relative;
    z-index: 1;
    display: block;
    background-color: $header-color;

    padding: 5px 0px;
    box-shadow: 0px 0px 12px $box-shadow-color;

    font-size: $header-font-size;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  .mapRelationContent {
    display: flex;
    flex-direction: column;
    margin: 16px;
    .type {
      font-size: $normal-font-size;
    }

    .relationsContent {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: auto;
      margin-top: 16px;

      .relation {
        font-weight: normal;
        font-size: $small-font-size;
        color: $font-color;
        text-align: center;
        border: 1px solid $border-color;
        border-radius: 25px;
        margin: 3px;
        padding: 5px 10px;
        background-color: lighten($background-grey, 10%);
        cursor: pointer;
      }
    }
  }
}
