@import '../../Ressources/styling/colors.scss';
@import '../../Ressources/styling/font.scss';

div.levelChip {
  background-color: $header-color;
  text-shadow: none;
  justify-content: flex-start;
  .MuiAvatar-root.info {
    background-color: $info-color;
  }

  .MuiAvatar-root.warn {
    background-color: $warn-color;
  }

  .MuiAvatar-root.error {
    background-color: $error-color;
  }
}
