@import '../../Ressources/styling/colors.scss';
@import '../../Ressources/styling/font.scss';

$max-width: 66vw;

.notification {
  position: absolute;
  bottom: 50px;
  overflow: hidden;
  border: solid $border-color;
  max-width: $max-width;
  min-height: 150px;
  z-index: 2;
  background-color: $background-grey;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px;
  opacity: 0;
  .close {
    position: absolute;
    z-index: 3;
    right: 5px;
    top: 7px;
    font-size: $normal-font-size;
    color: $font-color;
    background-color: $header-color;
    border: 2px solid $border-color;
    box-shadow: 0px 0px 12px $box-shadow-color;
    text-transform: uppercase;
    cursor: pointer;
  }

  .notificationMessageContainer {
    display: flex;
    flex-direction: column;
    max-width: 96%;
    .notificationMessage {
      margin: 5px;
      word-wrap: break-word;
    }
  }
}

.open {
  opacity: 1;
  transition: opacity 3000ms;
}

.closed {
  opacity: 0;
  transition: opacity 1000ms;
}
