@import '../../Ressources/styling/colors.scss';
@import '../../Ressources/styling/font.scss';

.titleBar {
  margin-top: 16px;
  margin-bottom: 16px;

  .first {
    background-color: $header-color;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .last {
    background-color: $header-color;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .title {
    font-size: $large-font-size;
    text-transform: uppercase;
    text-align: center;
    background-color: darken($header-color, 10%);
  }
}
