@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

$dotSize: 200px;

.landscapeDashboardContainer {
  .title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: $header-font-size;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  .groupContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px 5px 18px 0px;

    .group {
      .groupName {
        padding: 5px;
        font-size: $large-font-size;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        background-color: darken($header-color, 10%);
        border-radius: 25px;
      }

      .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .itemContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 250px;
          margin-top: 1rem;

          .dot {
            height: $dotSize;
            width: $dotSize;
            background-color: $info-color;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 2rem;
            text-align: center;

            .statusDot {
              margin-top: calc(#{$dotSize} * 0.075);
              margin-left: calc(#{$dotSize} * 0.075);
              height: calc(#{$dotSize} * 0.85);
              width: calc(#{$dotSize} * 0.85);
              background-color: $background-grey;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .statusField {
                font-size: $small-font-size;
                color: $font-color;
                text-shadow: 0 0 10px $text-shadow-color;
                text-transform: uppercase;
              }
            }
          }

          .itemDescription {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 32px;
            min-height: 32px;

            .icon {
              max-width: 32px;
              max-height: 32px;
              margin-right: 0.3rem;
            }

            .itemName {
              max-width: 300px;
              font-size: $normal-font-size;
              margin-left: 0.2rem;
            }
          }
        }
      }
    }
  }
}
