@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

$dotSize: 200px;
$smallDotSize: 30px;

.landscapeDashboardContainer {
  .titleContainer {
    border-bottom: 1px solid $border-color;
    max-width: 100%;
    margin-left: 0px;
    .title {
      text-align: center;
      font-size: $header-font-size;
    }
  }

  .groupContainer {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px 5px 18px 0px;

    .group {
      background-color: $background-grey;
      .groupName {
        position: relative;
        padding: 5px;
        font-size: $large-font-size;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        background-color: darken($header-color, 10%);
        border-radius: 25px;
      }
      .groupLabel {
        cursor: pointer;
      }

      .smallDot {
        position: absolute;
        height: $smallDotSize;
        width: $smallDotSize;
        background-color: $info-color;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        right: 12px;
        cursor: pointer;
      }

      .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .itemContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 250px;
          margin-top: 16px;

          .dot {
            height: $dotSize;
            width: $dotSize;
            background-color: $info-color;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 32px;
            text-align: center;

            .statusDot {
              margin-top: calc(#{$dotSize} * 0.075);
              margin-left: calc(#{$dotSize} * 0.075);
              height: calc(#{$dotSize} * 0.85);
              width: calc(#{$dotSize} * 0.85);
              background-color: $background-grey;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .statusField {
                font-size: $small-font-size;
                color: $font-color;
                text-shadow: 0 0 10px $text-shadow-color;
                text-transform: uppercase;
              }
            }
          }

          .itemDescription {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 32px;
            min-height: 32px;
            max-width: 250px;

            .icon {
              max-width: 32px;
              max-height: 32px;
              margin-right: 4.8px;
            }

            .itemName {
              max-width: 300px;
              font-size: $normal-font-size;
              margin-left: 3.2px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  @-o-keyframes highlightDot {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: #ff4081;
    }
    to {
      background-color: #fff;
    }
  }

  @-webkit-keyframes highlightDot {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: #ff4081;
    }
    to {
      background-color: #fff;
    }
  }

  @keyframes highlightDot {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: #ff4081;
    }
    to {
      background-color: #fff;
    }
  }

  .highlightDot {
    -webkit-animation: highlightDot 1s linear;
    -o-animation: highlightDot 1s linear;
    animation: highlightDot 1s linear;
    -webkit-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
    animation-iteration-count: 2;
  }

  .highlightGroup {
    z-index: 2;
  }
}
