@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

.landscapeDashboardContainer {
  .title {
    font-size: $header-font-size;
  }
  .groupContainer {
    .itemContainer {
      margin-left: 4px;
      margin-bottom: 5px;
      margin-top: 2px;
      padding: 0px 5px 18px 0px;
      border-bottom: 1px solid $border-color;

      .itemIcon {
        .icon {
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }
}
