@import 'Ressources/styling/colors';
@import 'Ressources/styling/font';

body {
  background-color: $background-grey;
  margin: 0px;
  font-family: $nivio-font;
  color: $font-color;
  text-shadow: 0 0 10px $text-shadow-color;
  overflow-x: hidden;

  .button {
    color: lighten($header-color, 20%);
    padding: 0;
    border-top: 1.6px solid $header-color;
    border-left: 4.8px solid $header-color;
    border-radius: 0;
    text-shadow: 0 0 10px $text-shadow-color;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .stackedButton {
    margin-bottom: 4.8px;
  }
}

button {
  font-family: $nivio-font;
  font-weight: bold;
}

a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}
