@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

.logContent {
  position: absolute;
  overflow: hidden;
  border: solid $border-color;
  width: 800px;
  z-index: 1;
  background-color: $background-grey;

  .close {
    float: right;
    margin-right: 4px;
    margin-top: 4px;
    font-size: $large-font-size;
    background-color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 0;
    border-right: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .title {
    display: block;
    background-color: $header-color;

    padding: 3px 0px;
    box-shadow: 0px 0px 12px $box-shadow-color;

    font-size: $header-font-size;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .itemContainer {
    margin-left: 10px;
    margin-top: 10px;

    .MuiChip-root {
      margin-right: 0.3rem;
    }
    .item {
      margin-bottom: 0.3rem;
    }
  }
}

.logContent-enter-active {
  right: -810px;
}
.logContent-enter-done {
  right: 10px;
  transition: right 1000ms;
}
.logContent-exit {
  opacity: 1;
  right: 10px;
}
.logContent-exit-active {
  right: 10px;
  opacity: 0;
  transition: opacity 1000ms;
}
.slider-appear-active {
  right: 10px;
}
