svg {
  font-family: sans-serif;
}

svg g {
  stroke-width: 0.3;
}

svg g circle {
  stroke-width: 0.4em;
}

rect.group {
  stroke-width: 0.0em;
  fill-opacity: 0.5;
}

svg g.label {
  cursor: pointer;
}

svg g.label rect {
  stroke-width: 0.1em;
  stroke: #007F7F;
}

text.title {
  font-size: 3em;
}

text.item_shortName {
  font-size: 2em;
}

text.groupLabel {
  text-shadow: 1px 1px 1px black;
}

svg path {
  fill: none;
  stroke-width: 0.4em;
  stroke-opacity: 0.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}