.map {
  font-family: sans-serif;
}

.map g {
  stroke-width: 0.3;
}

.map g circle {
  stroke-width: 0.8em;
}

.map g.label {
  cursor: pointer;
}

.map g.label {
  stroke-width: 0.1em;
  fill: white;
  text-shadow: 2px 2px 2px black;
}

.map text.title {
  font-size: 3em;
}

.map text.itemLabel {
  font-size: 2.5em;
}

.map text.itemShortname {
  font-size: 2em;
}

.map text.itemShortnameIcon {
  font-size: 5em;
}

.map text.groupLabel {
  text-shadow: 1px 1px 1px black;
  font-size: 4em;
}

.map .relation path {
  fill: none;
  stroke-width: 0.2em;
  stroke-opacity: 0.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.map g.relation path {
  stroke-width: 0.8em;
  cursor: pointer;
}

.map g.groupArea {
  cursor: pointer;
}

.map g.groupArea path {
  fill-opacity: 0.3;
}