<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>My Custom Login Page</h3>

<a th:href="@{/oauth2/authorization/github}">Login with GitHub</a>

<form:form action="${pageContext.request.contextPath}/authenticateTheUser"
           method="POST">

    <!-- Check for login error -->

    <c:if test="${param.error != null}">

        <i class="failed">Sorry! You entered invalid username/password.</i>

    </c:if>

    <p>
        User name: <input type="text" name="username"/>
    </p>

    <p>
        Password: <input type="password" name="password"/>
    </p>

    <input type="submit" value="Login"/>

</form:form>

</body>
</html>