<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Nivio login page</title>

    <style>
        body {
            background-color: #161618;
            color: #22F2C2;
        }
    </style>
</head>
<body>

<a th:href="@{/oauth2/authorization/github}" id="github-button" class="btn btn-block btn-social btn-github">
    <i class="fa fa-github"></i> Login with Github
</a>

<!--<a th:href="@{/oauth2/authorization/github}">Login with GitHub</a>-->
<div id="login" style="height: 100vh; overflow: hidden"></div>

</body>
</html>