@import '../../Ressources/styling/colors.scss';
@import '../../Ressources/styling/font.scss';

.homeContainer {
  .content {


    .landscapeContainer {

      .MuiTypography-overline {
        border-bottom: 1px solid $border-color;
      }

      .floatButton {
        float: right;
      }

      .control {
        background-color: $header-color;
        color: $font-color;
        text-transform: uppercase;
        text-shadow: 0 0 10px $text-shadow-color;
        box-shadow: 0px 0px 12px $box-shadow-color;
        border: 1px solid $border-color;
        border-radius: 50px;
        cursor: pointer;
      }

    }
  }

  .header {
    display: block;
    font-size: $header-font-size;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $header-color;
    box-shadow: 0px 0px 12px $box-shadow-color;
    text-align: center;
    margin-bottom: 35px;
  }
}
