@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

$smallDotSize: 25px;

.assessmentContent {
  padding: 16px;
  position: relative;
  overflow: auto;
  width: 500px;
  max-height: 85vh;
  z-index: 1;
  background-color: $header-color;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    text-align: center;
    width: 90%;

    .title {
      max-width: 316px;
      text-align: center;
      overflow-wrap: anywhere;
      font-size: $large-font-size;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .itemsContent {
    margin-top: 16px;
    width: 100%;
    .itemLabel {
      font-weight: bold;
      font-size: $normal-font-size;
    }
    .statusLabel {
      font-weight: bold;
      font-size: $normal-font-size;
      justify-self: center;
    }
    .items {
      font-size: $small-font-size;
      border-bottom: 1px solid $border-color;
      .item {
        display: grid;
        grid-template-columns: 200px 200px auto;
        margin-bottom: 15px;
        .itemTitle {
          justify-self: start;
          font-weight: normal;
          color: $font-color;
          cursor: pointer;
        }
        .assessmentTitle {
          justify-self: start;
          font-weight: normal;
          color: $font-color;
        }
        .status {
          height: $smallDotSize;
          width: $smallDotSize;
          background-color: $info-color;
          border-radius: 50%;
          justify-self: center;
        }
      }
    }
  }
}

.assessmentError {
  margin: 32px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  .errorMessage {
    color: red;
    font-size: $large-font-size;
    text-transform: uppercase;
  }
  .errorIdentifier {
    margin-top: 20px;
    font-size: $normal-font-size;
  }
}
