@import '../../../Ressources/styling/colors.scss';
@import '../../../Ressources/styling/font.scss';

.homeContainer {
  .landscapeContainer {
    .MuiTypography-overline {
      border-bottom: 1px solid $border-color;
    }

    .noShadow {
      text-shadow: none;
    }

    .previewItem {
      .preview {
        border: 1px solid $border-color;
        padding: 16px;
      }
    }

    .infoContainer {
      .infoContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 11px;
        .identifier,
        .teams {
          padding-top: 11px;
        }
      }
    }
  }
}
